/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeng/resources/themes/bootstrap/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~font-awesome/css/font-awesome.min.css';
/*
#items a{
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#items a.load {
    opacity: 1;
}*/

.card img, .cart-item img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.item md-card{
    margin-left:3%;
    margin-right: 2%; 
}

.navbar.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
    margin-top:6%;
    margin-left: 1%;
    margin-right: -1%;
}
/*.sidebar{
    position: fixed;
}*/
.item a {
    transition: all 0.3s ease 0s;
}
.label.label-info{
    padding: 7px;
    font-size: 1.1em;
    color: black;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #e9e9e9;
}

.navbar-inverse .navbar-nav>li>a.btn:focus{
    background: #fff;
    color: black;
    border: none;
}
.navbar-inverse .navbar-nav>li>a.btn:hover{
    background: #ff4081;
}
main .panel.cart{
    font-weight: bold;
}
.cart *{
    text-align: left;
}

.thumbnail img {
  width: 170px;
  height: 250px;
  background: url(loader-img.gif) 50% no-repeat;
  border-radius: 5px;
}